@mixin height($height){
  height: $height;
}

@mixin width($width){
  width: $width;
}

@mixin heightWidth($common) {
  @include height($common);
  @include width($common);
}

@mixin backgroundColor($color) {
  background-color: $color;
}

