@mixin height($height){
  height: $height;
}

@mixin width($width){
  width: $width;
}

@mixin  maxHeight($height) {
  max-height: $height;
}

@mixin  maxWidth($width) {
  max-width: $width;
}

@mixin heightWidth($common) {
  @include height($common);
  @include width($common);
}

@mixin backgroundColor($color) {
  background-color: $color;
}

$green: #4A9F98;

