@import "../../states/flex/_flex";



.mapEditor__marker {
 @include flexColumnCenter;
 position: relative;
 z-index: 1000;
 @import "../mapEditor__marker/mapEditor__marker__input/mapEditor__marker__input";
 @import "./mapEditor__marker__button/mapEditor__marker__button";
 background-color: white;
 border: 1px solid black;
}