@import "../../../../../states/varibles";


.map__leftPanel__buttons__active{
  @include backgroundColor(#7D93AD);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 6px 42px;
  color: #FFFFFF;
}
