@import "../flex";



@mixin flexColumn {
  @include flex;
  flex: {
    direction: column;
  }
}

@mixin flexColumnCenter {
  @include flexColumn;
  justify-content: center;
}

@mixin flexColumnSpaceBetween {
  @include flexColumn;
  justify-content: space-between;
}